/.distributions/
.gradle/
.idea/
Common/libs/javadoc/
bin/
[Bb]in/
runHeart.bat
runShard.bat
buildHeart.bat
buildShard.bat
*.html
Common/build/
Heart/build/
Shard/build/
Heart/libs/jl1.0.1-javadocs/package-list
*.gif
Heart/libs/jl1.0.1-javadocs/stylesheet.css
